.contact h3 {
  margin: 25px 0px;
}

.contact textarea {
  min-width: 60%;
  min-height: 250px;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
}
.contact button {
  display: block;
  background-color: #ffffff;
  border: solid 1px black;
  font-size: 22px;
  padding: 10px 30px;
  transition: 0.15s;
  margin: 0 40% 0 auto;
}

.contact button:hover {
  cursor: pointer;
  color: green;
  background-color: black;
}
